@font-face {
    font-family: "flaticon_leadsguru";
    src: url("./flaticon_leadsguru.ttf?9ce2131eae76ff5925e568263e817567") format("truetype"),
url("./flaticon_leadsguru.woff?9ce2131eae76ff5925e568263e817567") format("woff"),
url("./flaticon_leadsguru.woff2?9ce2131eae76ff5925e568263e817567") format("woff2"),
url("./flaticon_leadsguru.eot?9ce2131eae76ff5925e568263e817567#iefix") format("embedded-opentype"),
url("./flaticon_leadsguru.svg?9ce2131eae76ff5925e568263e817567#flaticon_leadsguru") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_leadsguru !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-computer:before {
    content: "\f101";
}
.flaticon-teacher:before {
    content: "\f102";
}
.flaticon-certificate:before {
    content: "\f103";
}
.flaticon-graduated:before {
    content: "\f104";
}
.flaticon-certificate-1:before {
    content: "\f105";
}
.flaticon-rupee:before {
    content: "\f106";
}
.flaticon-commission:before {
    content: "\f107";
}
.flaticon-payment-method:before {
    content: "\f108";
}
.flaticon-wallet:before {
    content: "\f109";
}
.flaticon-online-course:before {
    content: "\f10a";
}
.flaticon-play-button:before {
    content: "\f10b";
}
.flaticon-play-button-1:before {
    content: "\f10c";
}
.flaticon-online-course-1:before {
    content: "\f10d";
}
.flaticon-back-in-time:before {
    content: "\f10e";
}
.flaticon-network:before {
    content: "\f10f";
}
.flaticon-online-learning:before {
    content: "\f110";
}
.flaticon-online-learning-1:before {
    content: "\f111";
}
.flaticon-tax:before {
    content: "\f112";
}
.flaticon-facebook-app-symbol:before {
    content: "\f113";
}
.flaticon-twitter:before {
    content: "\f114";
}
.flaticon-instagram:before {
    content: "\f115";
}
.flaticon-user:before {
    content: "\f116";
}
.flaticon-user-1:before {
    content: "\f117";
}
.flaticon-user-2:before {
    content: "\f118";
}
.flaticon-explore:before {
    content: "\f119";
}
.flaticon-learning:before {
    content: "\f11a";
}
.flaticon-creativity:before {
    content: "\f11b";
}
.flaticon-teaching:before {
    content: "\f11c";
}
.flaticon-skills:before {
    content: "\f11d";
}
.flaticon-handshake:before {
    content: "\f11e";
}
.flaticon-home:before {
    content: "\f11f";
}
.flaticon-instagram-1:before {
    content: "\f120";
}
.flaticon-instagram-2:before {
    content: "\f121";
}
.flaticon-phone:before {
    content: "\f122";
}
.flaticon-email:before {
    content: "\f123";
}
.flaticon-pin:before {
    content: "\f124";
}
.flaticon-pin-1:before {
    content: "\f125";
}
.flaticon-location:before {
    content: "\f126";
}
.flaticon-shared-vision:before {
    content: "\f127";
}
.flaticon-target:before {
    content: "\f128";
}
.flaticon-value:before {
    content: "\f129";
}
.flaticon-inspiration:before {
    content: "\f12a";
}
.flaticon-swear:before {
    content: "\f12b";
}
.flaticon-linkedin:before {
    content: "\f12c";
}
.flaticon-trash:before {
    content: "\f12d";
}
.flaticon-diamond:before {
    content: "\f12e";
}
.flaticon-language:before {
    content: "\f12f";
}
.flaticon-photo-camera:before {
    content: "\f130";
}
.flaticon-account:before {
    content: "\f131";
}
.flaticon-online-education:before {
    content: "\f132";
}
.flaticon-certificate-2:before {
    content: "\f133";
}
.flaticon-affiliate-marketing:before {
    content: "\f134";
}
.flaticon-customer-support:before {
    content: "\f135";
}
.flaticon-logout:before {
    content: "\f136";
}
.flaticon-test:before {
    content: "\f137";
}
.flaticon-certificate-3:before {
    content: "\f138";
}
.flaticon-stopwatch:before {
    content: "\f139";
}
.flaticon-sand-clock:before {
    content: "\f13a";
}
.flaticon-history:before {
    content: "\f13b";
}
.flaticon-check-mark:before {
    content: "\f13c";
}
.flaticon-wrong:before {
    content: "\f13d";
}
.flaticon-download:before {
    content: "\f13e";
}
.flaticon-redo-arrow-symbol:before {
    content: "\f13f";
}
.flaticon-media-end:before {
    content: "\f140";
}
.flaticon-play:before {
    content: "\f141";
}
.flaticon-delete-friend:before {
    content: "\f142";
}
.flaticon-add-friend:before {
    content: "\f143";
}
.flaticon-dashboard:before {
    content: "\f144";
}
.flaticon-accepted:before {
    content: "\f145";
}
.flaticon-link:before {
    content: "\f146";
}
.flaticon-leader:before {
    content: "\f147";
}
.flaticon-webinar:before {
    content: "\f148";
}
.flaticon-crowd-of-users:before {
    content: "\f149";
}
.flaticon-world-humanitarian-day:before {
    content: "\f14a";
}
.flaticon-crown:before {
    content: "\f14b";
}
.flaticon-online-course-2:before {
    content: "\f14c";
}
.flaticon-shopping-basket:before {
    content: "\f14d";
}
.flaticon-collaborate:before {
    content: "\f14e";
}
.flaticon-help:before {
    content: "\f14f";
}
.flaticon-visible-opened-eye-interface-option:before {
    content: "\f150";
}
.flaticon-closed-eyes:before {
    content: "\f151";
}
.flaticon-shopping-cart:before {
    content: "\f152";
}
.flaticon-cart:before {
    content: "\f153";
}
.flaticon-add-to-cart:before {
    content: "\f154";
}
.flaticon-buy-online:before {
    content: "\f155";
}
.flaticon-shopping-bag:before {
    content: "\f156";
}
.flaticon-add:before {
    content: "\f157";
}
.flaticon-whatsapp:before {
    content: "\f158";
}
.flaticon-explore-1:before {
    content: "\f159";
}
.flaticon-youtube-1:before {
    content: "\f15a";
}
.flaticon-marketing:before {
    content: "\f15b";
}
